.layer > #header > em {
  font-size: .4rem;
}
.layer > .main > .img-box {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}
.layer > .main > .img-box > img {
  width: 100%;
}
.layer > .main > .info {
  background-color: #fff;
}
.layer > .main > .info > p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 0.28rem;
  color: #333;
  margin: 0.1rem 0;
  padding: 0 0.3rem;
}
.layer > .main > .info > .time_down {
  height: .88rem;
  line-height: .88rem;
  border-bottom: 1px solid #eeeeee;
}
.layer > .main > .info > .time_down > span {
  font-size: 0.24rem;
  width: 28%;
  text-align: center;
}
.layer > .main > .info > .time_down > span:first-of-type {
  width: 56%;
}
.layer > .main > .info > .time_down > span em {
  font-size: 0.3rem;
  color: #ff6600;
}
.layer > .main > .info > .freight,
.layer > .main > .info .business_shop,
.layer > .main > .info .business_address {
  height: 0.88rem;
  line-height: .88rem;
  padding: 0 0.3rem;
  font-size: 0.28rem;
}
.layer > .main > .info > .freight.freight,
.layer > .main > .info .business_shop.freight,
.layer > .main > .info .business_address.freight {
  border-bottom: 1px solid #eeeeee;
}
.layer > .main > .info > .freight > span,
.layer > .main > .info .business_shop > span,
.layer > .main > .info .business_address > span {
  width: 25%;
}
.layer > .main > .business_detail {
  background-color: #fff;
  padding-bottom: 1rem;
  border-top: 0.2rem solid #eeeeee;
}
.layer > .main > .business_detail > p {
  height: 1rem;
  line-height: 1rem;
  font-size: .32rem;
  padding-left: 0.3rem;
}
.layer > .main > .business_detail > div {
  font-size: .3rem;
  text-align: center;
  font-weight: 600;
  line-height: .4rem;
  padding: 0 .3rem;
  margin-bottom: .2rem;
}
.layer > .main > .business_detail > img {
  width: 100%;
}
.layer > .main > .right_now {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.3rem;
  text-align: center;
  color: #fff;
  background-color: #ff6600;
  width: 100%;
  position: fixed;
  bottom: 0;
}
