.layer > header:after {
  content: '';
  height: 0.6rem;
  width: 0.6rem;
  background: url("../../img/search.png") no-repeat center;
  -webkit-background-size: 100%;
  background-size: 100%;
  position: absolute;
  left: 22%;
  top: 52%;
}
.layer > header > img {
  width: 0.74rem;
  height: 0.74rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: 0.3rem;
}
.layer > header > input {
  position: absolute;
  left: 20%;
  top: 48%;
  height: 0.7rem;
  width: 60%;
  text-indent: 2em;
  font-size: 0.28rem;
  background-color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 40px;
  border-radius: 40px;
}
.layer > header > span {
  position: absolute;
  right: 3%;
  top: 6%;
  color: #fff;
  height: 1.5rem;
  font-size: 0.28rem;
}
.layer > header > span > i {
  color: #7c351d;
  font-size: 0.3rem;
  vertical-align: middle;
}
.layer > .main > .swiper {
  height: 4.3rem;
  width: 100%;
  overflow: hidden;
}
.layer > .main > .swiper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.layer > .main > .swiper .swiper-slide img {
  width: 100%;
}
.layer > .main > .swiper .swiper-slide .text {
  text-align: center;
  bottom: 0;
  padding: 0 0.3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  height: 0.8rem;
  line-height: 0.8rem;
  width: 100%;
  color: #fff;
  font-size: 0.28rem;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
.layer > .main > .auction_area {
  border-top: 0.2rem solid #eeeeee;
  background: #fff;
}
.layer > .main > .auction_area > .auction_top {
  width: 100%;
  height: 0.98rem;
}
.layer > .main > .auction_area > .auction_top > li {
  float: left;
  width: 32%;
  height: 100%;
  padding-top: 0.1rem;
  text-align: center;
}
.layer > .main > .auction_area > .auction_top > li > em {
  font-size: 0.3rem;
}
.layer > .main > .auction_area > .auction_top > li > span {
  font-size: 0.24rem;
  opacity: 0.6;
}
.layer > .main > .auction_area > .auction_top > li:first-of-type {
  color: #fff;
  background: -moz-linear-gradient(left, #fff, #f9693a);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#fff), to(#f9693a));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, #fff, #f9693a);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(left, #fff, #f9693a);
  /*Opera11*/
}
.layer > .main > .auction_area > .auction_top > li:last-of-type {
  color: #fff;
  background: -moz-linear-gradient(left, #f9693a, #fff);
  /*Mozilla*/
  background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#f9693a), to(#fff));
  /*Old gradient for webkit*/
  background: -webkit-linear-gradient(left, #f9693a, #fff);
  /*new gradient for Webkit*/
  background: -o-linear-gradient(left, #f9693a, #fff);
  /*Opera11*/
}
.layer > .main > .auction_area > .auction_top > li > span {
  display: block;
}
.layer > .main > .auction_area > .auction_middle {
  text-align: center;
  border-bottom: 0.2rem solid #eeeeee;
}
.layer > .main > .auction_area > .auction_middle > .beat {
  display: block;
  width: 30%;
  height: 1.8rem;
  background: url("../../img/beat.png") no-repeat center;
  margin: 0.8rem auto;
  -webkit-background-size: 54%;
  background-size: 54%;
}
.layer > .main > .auction_area > .auction_middle > p {
  font-size: 0.3rem;
  margin-bottom: 0.3rem;
}
.layer > .main > .auction_area > .replay > ul {
  height: 0.88rem;
  line-height: 0.88rem;
}
.layer > .main > .auction_area > .replay > ul > li {
  display: inline-block;
  width: 49%;
  font-size: 0.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
}
.layer > .main > .auction_area > .replay > ul > li:first-of-type {
  border-right: 1px solid #d2d2d2;
}
/*swiper �ֲ�ͼ*/
.swiper > #swiper {
  height: 4.3rem;
  width: 100%;
}
.swiper > #swiper .swiper-slide {
  position: relative;
}
.swiper > #swiper .swiper-slide img {
  width: 100%;
}
.swiper > #swiper .swiper-slide .text {
  bottom: 0;
  height: 0.8rem;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}
/*swiper�ֲ�ͼ*/
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}
/*����
 background:-webkit-gradient(linear, 0 0, 0 100%, from(��2074af), to(��2c91d2));*/
