html {
  background-color: #eeeeee;
}
.layer > .main > div {
  border-bottom: 1px solid #eee ;
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #fff;
}
.layer > .main > div > span {
  width: 1.3rem;
  text-align: left;
  padding-left: 0.3rem;
  font-size: 0.3rem;
}
.layer > .main > div.img {
  margin-top: 0.2rem;
  height: 1.6rem;
  line-height: 1.6rem;
}
.layer > .main > div.img > img {
  margin-left: 5%;
  width: 0.8rem;
  height: 0.8rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  vertical-align: middle;
}
.layer > .main > div.img em {
  margin-top: .3rem;
  font-size: .24rem;
  color: #999;
  height: .8rem;
  padding-right: .2rem;
}
.layer > .main > div > input,
.layer > .main > div > .input {
  border: none;
  width: 80%;
  color: #999;
  font-size: 0.28rem;
  height: 0.8rem;
  text-align: left;
}
.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
  border: 1px solid #ff6600;
  background-color: #ff6600;
}
