.income{
    width:100%;
    padding:0 .3rem;
    border-bottom:.01rem solid #eee;
}
.income-one{
    font-size: .3rem;
    color: #333;
    margin-top:.15rem;
    font-weight: 500;
}
.income-two{
    font-size: .22rem;
    color: #666;
    float:right;
    margin-top: .2rem;
}
.income-three{
    font-size: .24rem;
    color: #333;
}
.income-four{
    font-size: .24rem;
    color:#333;
    float:right;
}
.main{
    background-color: #fff;
}