html {
  background-color: #eeeeee;
}
.span_weight {
  width: 30%;
}
.del_right {
  padding-left: 0.2rem;
  vertical-align: middle;
  display: inline-block;
  border-left: 1px solid #d2d2d2;
}
.main {
  background-color: #fff;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
.main > .order_base {
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.3rem;
}
.main > .order_base > span {
  width: 30%;
}
.main > .order_base > em {
  padding-left: 0.2rem;
  vertical-align: middle;
  display: inline-block;
  border-left: 1px solid #d2d2d2;
}
.main > p {
  color: #999;
  font-size: 0.24rem;
}
.main > p > span {
  width: 30%;
}
.main > p > del {
  width: 65%;
  padding-left: 0.2rem;
  vertical-align: middle;
  display: inline-block;
  border-left: 1px solid #d2d2d2;
}
