/*address*/
._citys {width:100%; height:100%;display: inline-block; position: relative; }
._citys span { color: #ff6600; height: 15px; width: 15px; line-height: 15px; text-align: center; border-radius: 3px; position: absolute; right: 1em; top: 10px; border: 1px solid #ff6600; cursor: pointer; }
._citys0 { width: 100%; height: 34px; display: inline-block; border-bottom: 2px solid #ff6600; padding: 0; margin: 0; background-color: #fff;}
._citys0 li { float:left; height:34px;line-height: 34px;overflow:hidden; font-size: 15px; color: #888; width: 80px; text-align: center; cursor: pointer; }
.citySel { background-color: #ff6600; color: #fff !important; }
._citys1 { width: 100%;height:80%; display: inline-block; padding: 10px 0; overflow: auto;
    background-color: #fff;}
._citys1 a {  height: 35px; display: block; color: #666; padding-left: 6px; margin-top: 3px; line-height: 35px; cursor: pointer; font-size: 13px; overflow: hidden;
}
._citys1 a:hover { color: #fff; background-color: #56b4f8; }
#PoPy{
    z-index: 1111;
}
._citys{
    background-color: #fff;
}
#city{
    width: 50%;
    height: 0.8rem;
    border: none;
    text-align: right;
    color:#666;
    padding-right: 0;
    font-size: 0.3rem;
}
/*颜色的更改*/
.android-ics .dwv{
    color:#ff6600;
    border-bottom: 2px solid #ff6600;
}
.dwl {
    color: #f0ad4e;
}
.android-ics .dw .dwwol{
    border-bottom: 2px solid #ff6600;
    border-top: 2px solid #ff6600;
}
.area>div{
    width: 65%;
    display: inline-block;
    text-align: center;
    color:#666;
}