<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>我的订单</title>
    <link rel="stylesheet" href="../../css/common/mui/mui.min.css"/>
    <link rel="stylesheet" href="../../css/base.css"/>
    <link rel="stylesheet" href="../../css/header.css"/>
    <link rel="stylesheet" href="../../css/iconfont.css"/>
    <link rel="stylesheet" href="../../css/mine/mine_order.css"/>
    <link rel="stylesheet" href="../../css/common/sweetAlert/sweetalert2.css"/>
</head>
<body>
<div class="layer">
    <header id="header" class="mui-bar mui-bar-nav">
        <i class="mui-icon mui-icon-left-nav mui-pull-left" onclick="back()"></i>
        <h1 class="mui-title">我的订单</h1>
    </header>
    <div class="main">
            <nav>
                <ul>
                    <li class="active">待发货</li>
                    <li>待收货</li>
                    <li>上门取货</li>
                    <li>退款售后</li>
                </ul>
            </nav>
        <!--代发货-->
        <div class="send_goods">
            <ul>
               <!-- <li>
                    <a href="see_order_detail.html">
                        <p class="shop_top clearfix">
                           <span>Luminox </span>
                            <i class="f_right">商家待发货</i>
                        </p>
                        <div class="shop_content">
                            <img src="../../img/focus-img1.png" alt=""/>
                            <div class="shop_middle">
                                <div class="text">
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                </div>
                                <p class="clearfix">
                                    <em>￥3000元</em>
                                    <del class="f_right">X1</del>
                                </p>
                            </div>
                            <div class="shop_info clearfix">
                                <span class="f_right">共一件商品  合计：￥3000</span>
                            </div>
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
        <!--待收货-->
        <div class="receive_goods">
            <ul>
               <!-- <li>
                    <a href="see_order_detail.html">
                        <p class="shop_top clearfix">
                            <span>Luminox </span>
                            <i class="f_right">商家已发货</i>
                        </p>
                        <div class="shop_content">
                            <img src="../../img/focus-img1.png" alt=""/>
                            <div class="shop_middle">
                                <div class="text">
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                </div>
                                <p class="clearfix">
                                    <em>￥3000元</em>
                                    <del class="f_right">X1</del>
                                </p>
                            </div>
                            <div class="shop_info clearfix">
                                <span class="f_right">共一件商品  合计：￥3000</span>
                            </div>
                        </div>
                    </a>
                        <div class="shop_replay">
                            <button class="see_logistics border-gray">查看物流</button>
                            <button class="sure_order color-red">确认收货</button>
                        </div>
                </li>-->
            </ul>
        </div>
        <!--上门取货-->
        <div class="visit_goods">
            <ul>
                <!--<li>
                    <a href="see_order_detail.html">
                        <p class="shop_top clearfix">
                            <span>Luminox </span>
                        </p>
                        <div class="shop_content">
                            <img src="../../img/focus-img1.png" alt=""/>
                            <div class="shop_middle">
                                <div class="text">
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                </div>
                                <p class="clearfix">
                                    <em>￥3000元</em>
                                    <del class="f_right">X1</del>
                                </p>
                            </div>
                            <div class="shop_info clearfix">
                                <span class="f_right">共一件商品  合计：￥3000</span>
                            </div>
                        </div>
                    </a>
                    <div class="shop_replay">
                        <button class=" border-gray">申请退款</button>
                        <button class=" color-red">确认取货</button>
                    </div>
                </li>-->
            </ul>
        </div>
        <!--退款售后-->
        <div class="quit_goods">
            <ul>
               <!-- <li>
                    <a href="see_order_detail.html">
                        <p class="shop_top clearfix">
                            <span>Luminox </span>
                            <i class="f_right">退款中</i>
                            &lt;!&ndash;<i class="f_right">退款成功</i>&ndash;&gt;
                        </p>
                        <div class="shop_content">
                            <img src="../../img/focus-img1.png" alt=""/>
                            <div class="shop_middle">
                                <div class="text">
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                    鲁美诺斯3152 F-35全球限量 版军表 瑞士制造
                                </div>
                                <p class="clearfix">
                                    <em>￥3000元</em>
                                    <del class="f_right">X1</del>
                                </p>
                            </div>
                            <div class="shop_info clearfix">
                                <span class="f_right">共一件商品  合计：￥3000</span>
                            </div>
                        </div>
                    </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>
</body>
<script src="../../js/common/x_rem.js"></script>
<script src="../../js/common/mui/mui.min.js"></script>
<script src="../../js/common/base.js"></script>
<script src="../../js/common/back.js"></script>
<script src="../../js/common/zepto/zepto.min.js"></script>
<script src="../../js/common/zepto/touch.js"></script>
<script src="../../js/common/sweetAlert/sweetalert2.js"></script>
<script src="../../js/common/template/template.js"></script>
<!--代发货订单-->
<script type="text/html" id="send_goods">
{{if data.length==0||data==null}}
<div class="no_in">对不起，您暂时没有等待发货的订单</div>
{{else}}
{{each data as value i}}
<li>
    <a href="business_see_order_detail.html?goodsOrderId={{value.goodsOrderId}}">
        <p class="shop_top clearfix">
            <span>{{value.goods.merchant.merchantName}} </span>
            <i class="f_right">商家待发货</i>
        </p>
        <div class="shop_content">
            <img src="{{value.goods.images[0].imagePath}}" alt="" onerror="this.src='../../img/beat.png'"/>
            <div class="shop_middle">
                <div class="text">
                    {{value.goods.title}} {{value.goods.introduce}}
                </div>
                <p class="clearfix">
                    <em>￥{{value.price}}元</em>
                    <del class="f_right">X1</del>
                </p>
            </div>
            <div class="shop_info clearfix">
                <span class="f_right">共一件商品  合计：￥{{value.price}}</span>
            </div>
        </div>
    </a>
</li>
{{/each}}
    {{/if}}
</script>
<script id="receive_goods" type="text/html">
    {{if data.length==0||data==null}}
    <div class="no_in">对不起，您暂时没有等待收货的订单</div>
    {{else}}
    {{each data as value i}}
    <li>
        <a href="see_order_detail.html?goodsOrderId={{value.goodsOrderId}}">
            <p class="shop_top clearfix">
                <span>{{value.goods.merchant.merchantName}} </span>
                <i class="f_right">商家已发货</i>
            </p>
            <div class="shop_content">
                <img src="{{value.goods.images[0].imagePath}}" alt="" onerror="this.src='../../img/beat.png'"/>
                <div class="shop_middle">
                    <div class="text">
                        {{value.goods.title}} {{value.goods.introduce}}
                    </div>
                    <p class="clearfix">
                        <em>￥{{value.price}}元</em>
                        <del class="f_right">X1</del>
                    </p>
                </div>
                <div class="shop_info clearfix">
                    <span class="f_right">共一件商品  合计：￥{{value.price}}</span>
                </div>
            </div>
        </a>
        <div class="shop_replay">
            <button class="see_logistics border-gray" onclick="location.href='see_Logistics.html?goodsOrderId={{value.goodsOrderId}}'">查看物流</button>
            <button class="sure_order color-red" onclick="sure_recieve('{{value.goodsOrderId}}',this)">确认收货</button>
        </div>
    </li>
    {{/each}}
    {{/if}}
</script>
<!--上门取货-->
<script id="visit_goods" type="text/html">
    {{if data!==null&&data.已完成订单.length==0&&data.待完成订单.length==0}}
    <div class="no_in">对不起，您暂时没有上门取货订单</div>
    {{else}}
    {{if data.已完成订单.length!==0}}
    {{each data.已完成订单 as value i}}
    <li>
        <a href="see_order_detail.html?goodsOrderId={{value.goodsOrderId}}" >
            <p class="shop_top clearfix">
                <span>{{value.linkMan.userName}} </span>
            </p>
            <div class="shop_content">
                <img src="{{value.goods.images[0].imagePath}}" alt="" onerror="this.src='../../img/beat.png'"/>
                <div class="shop_middle">
                    <div class="text">
                        {{value.goods.title}} {{value.goods.introduce}}
                    </div>
                    <p class="clearfix">
                        <em>￥{{value.price}}元</em>
                        <del class="f_right">X1</del>
                    </p>
                </div>
                <div class="shop_info clearfix">
                    <span class="f_right">共一件商品  合计：￥{{value.price}}</span>
                </div>
            </div>
        </a>
        <div class="shop_replay">
            <button class=" border-gray" style="opacity: 0">申请退款</button>
            <button class=" color-red">订单已完成</button>
        </div>
    </li>
    {{/each}}
    {{/if}}
    {{if data.待完成订单.length!==0}}
    {{each data.待完成订单 as value i}}
    <li>
        <a href="see_order_detail.html?goodsOrderId={{value.goodsOrderId}}">
            <p class="shop_top clearfix">
                <span>{{value.linkMan.userName}}</span>
            </p>
            <div class="shop_content">
                <img src="{{value.goods.images[0].imagePath}}" alt="" onerror="this.src='../../img/beat.png'"/>
                <div class="shop_middle">
                    <div class="text">
                       {{value.goods.title}} {{value.goods.introduce}}
                    </div>
                    <p class="clearfix">
                        <em>￥{{value.price}}元</em>
                        <del class="f_right">X1</del>
                    </p>
                </div>
                <div class="shop_info clearfix">
                    <span class="f_right">共一件商品  合计：￥{{value.price}}</span>
                </div>
            </div>
        </a>
        <div class="shop_replay">
            <button class=" border-gray" onclick=location.href='./apply_quit_money.html?goodsOrderId={{value.goodsOrderId}}'>申请退款</button>
            <button class=" color-red" onclick="sure_recieve('{{goodsOrderId}}',this)">确认取货</button>
        </div>
    </li>
    {{/each}}
    {{/if}}
    {{/if}}
</script>
<!--退款 退货-->
<script id="quit_goods" type="text/html">
    {{if obj_length(data).length==0}}
    <div class="no_in">对不起，您暂时没有退款售后订单</div>
    {{else}}
    {{each data as data i}}
    {{each data as value i}}
    <li>
        <a href="see_order_detail.html?goodsOrderId={{value.goodsOrderId}}">
            <p class="shop_top clearfix">
                <span>{{value.goods.merchant.merchantName}}</span>
                <i class="f_right">申请退换</i>
                <!--<i class="f_right">退款成功</i>-->
            </p>
            <div class="shop_content">
                <img src="{{value.goods.images[0].imagePath}}" alt="" onerror="this.src='../../img/beat.png'"/>
                <div class="shop_middle">
                    <div class="text">
                        {{value.goods.title}} {{value.goods.introduce}}
                    </div>
                    <p class="clearfix">
                        <em>￥{{value.price}}元</em>
                        <del class="f_right">X1</del>
                    </p>
                </div>
                <div class="shop_info clearfix">
                    <span class="f_right">共一件商品  合计：￥{{value.price}}</span>
                </div>
            </div>
        </a>
    </li>
    {{/each}}
    {{/each}}
    {{/if}}
</script>
<script>
    //确认收货
    function sure_recieve(orderId,e){
        myAjax({url:`/order/surePickUp/`,type:"post",data:{orderId:orderId}}, function (data) {
            console.log(data);
            var data=JSON.parse(data);
            if(data.code==200){
                $(e).text("已收货");
            }else{
                sweetAlert(
                        "sorry",
                        data.msg,
                        "error"
                )
            }
        })
    }
    $(function () {
        mui('body').on('tap','a',function(){document.location.href=this.href;});
        var userId=localStorage.getItem("cr_userId");
        //tab 栏的切换
        $("nav>ul>li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            var index=$(this).index();
            console.log(index);
            if(index==0){
               //代发货
                $(".main>div").eq(index).show().siblings("div").hide();
                render("order/getOrderByStatus",1,".send_goods>ul","send_goods");
            }else if(index==1){
                //待收货
                $(".main>div").eq(index).show().siblings("div").hide();

                render("order/getOrderByStatus",2,".receive_goods>ul","receive_goods");
            }else if(index==2){
                //上门取货
                $(".main>div").eq(index).show().siblings("div").hide();
                pick_quit_order("order/getOrderByPickUp",".visit_goods>ul","visit_goods");

            }else{
                //退款
                $(".main>div").eq(index).show().siblings("div").hide();
                pick_quit_order("order/getApplyBackGoodsByBuyer",".quit_goods>ul","quit_goods");
            }
        })
        //先默认渲染 代发货
        render("order/getOrderByStatus",1,".send_goods>ul","send_goods");
       function render(url,sta,src,tel){
           myAjax({url:`/${url}/${userId}/${sta}`}, function (data) {
               var data=JSON.parse(data);
               console.log(data);
               if(data.code==200){
                   $(src).html(template(tel,data))
               }else{
                   sweetAlert(
                           "sorry",
                           data.msg,
                           "error"
                   )
               }
           })
       }
        function pick_quit_order(url,src,tel){
            myAjax({url:`/${url}/${userId}`}, function (data) {
                var data=JSON.parse(data);
                console.log(data);
                if(data.code==200){
                    template.helper("obj_length", function (msg) {
                        return Object.keys(msg)
                    });
                    $(src).html(template(tel,data))
                }else{
                    sweetAlert(
                            "sorry",
                            data.msg,
                            "error"
                    )
                }
            })
        }
    })

</script>
</html>